@font-face {
  font-family: Open_sans;
  src: url('../Font/open-sans/OpenSans-Regular.ttf') ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: UTM BryantLG;
  src: url('../Font/utm-bryantlg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: UTM BryantLG_B;
  src: url('../Font/utm-bryantlg-b.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
} 

body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.header-banner {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 150px;
  display: flex;
  margin-top: 0;
  align-items: center;
}

.header-banner img {
  height: 70px;
  padding: 0px 0 0 80px;
}

.header-banner .img {
  height: 80px;
  width: 20%;
}

.header-banner ul {
  padding-left: 25%  ;
  display: flex;
  list-style: none;
  align-content: space-around;
}

.header-banner li {
  color: #f1f1f1;
  margin-left: 30px;
}

.header-banner li a {
  text-decoration: none;
  font: bold 15px/19px Open-sans;
  display: inline-block;
  text-transform: uppercase;
  color: #505353;
  padding: 7px 15px 8px 20px;

}

.header-banner a:hover {
  background-color: #B2D235;
  border-radius: 17px;
  color: white;
}

.header-content {
  margin-top: 15px;
  background-image: url("../image/Hapo_Learn_banner.png");
  background-size: cover;
  height: 655px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.header-content p {
  padding-left: 80px;
  height: 50px;
  width: 100%;
  font-size: 45px;
  color: #11114E;
}

.header-content .slogan-up {
  font-family: UTM BryantLG, sans-serif;
  margin: 0 0 0 59px;
  -webkit-text-stroke: 1px #11114E;
}

.header-content .slogan-down {
  font-family: UTM BryantLG_B;
  margin: 0 0 0 60px;
  font-weight: bold;
  -webkit-text-stroke: 1px #11114E;
}

.header-content pre {

  padding-left: 20px;
  font-family: UTM BryantLG;
  font-size: 20px;
  color: #505353;
  margin-top: 20px;
  
}

.header-content  a {
  margin-left: 140px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #b2d235;
  align-items: center;
  width: 377px;
  height: 70px;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  font: normal bold 30px 'UTM BryantLG_B';
  color: #FFFFFF;
  text-decoration: none;
  -webkit-text-stroke: 1px #FFFFFF;
}

.header-content a:hover,
.content a:hover,
.btn-start-learning a:hover {
  opacity: 0.7;
  transition: 0.4s;
}
.header-footer {
  background-image: url("../image/background1.png");
  height: 161px;
  width: 100%;
}

.backend-course {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -5%;
}

.box {
  border: 2px #E5E5E5 solid;
  background: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-right: 2%;
}

.backend-course .box {
  width: 20%;
  height: 470px;
}

.frontend-course .box {
  width: 20%;
  height: 395px;
}

.box .img-course {
  height: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0 0;
  text-align: center;
}

.html-course {
  background: #3F6185;
}

.laravel-course {
  background: #DC594C;
}

.php-course {
  background: #556598;
}

.css-course {
  background-color: #1B75BB;
  background-position: center;
}

.ruby-course {
  background: #E14E40;
}

.java-course {
  background: #24ABE2;
}

.img-course img {
  padding-top: 45px;
}

.box .content {
  height: 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box .content h1 {
  font: normal normal 30px 'UTM BryabtLG_B';
  color: #B2D235;
  text-align: center;
  padding-top: 0;
  height: 37px;
  -webkit-text-stroke: 0.5px #B2D235;
  margin-bottom: 5px;
}

.frontend-course .box h1 {
  margin-bottom: 5px;
  padding-bottom: 0;
}

.box .content p {
  height: 80px;
  margin-top: 0;
  font: normal normal 14px 'UTM BryantLG';
  text-align: center;
  letter-spacing: -0.05em;
  color: #505353;
  -webkit-text-stroke: 0.4px #505353;
  padding-bottom: 2px;
}

.box a {
  font: normal bold 18px/22px 'UTM BryantLG_B';
  color: #FFFFFF;
  text-decoration: none;
  -webkit-text-stroke: 0.5px #FFFFFF;
  background: #b2d235;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  padding: 10px;
  margin-bottom: 15px;
}

.frontend-course .box .content a {
  margin-bottom: 20px;
  font: normal bold 18px 'UTM BryantLG_B';
}

.backend-course .box .content
a {
  margin-bottom: 100px;
}
.other-course {
  margin-top: 65px;
  font: normal bold 60px 'UTM BryantLG_B';
  letter-spacing: -0.02em;
  width: 500px;
  height: 98px;
  color: #11114E;
  margin-left: 37%;
  -webkit-text-stroke: 0.5px #11114E;
}

.other-course h1 {
  text-align: center;
  border-radius: 3px;
  border-bottom: 5px solid #B2D235;
  -webkit-text-stroke: 0.5px #B2D235;
}

.frontend-course {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 45px;
}

.frontend-course .content {
  height: 201px;
}

.frontend-course .box .img-course {
  height: 194px;
}

.all-of-course {
  padding-top: 2%;
  text-align: center;
  margin-bottom: 100px;
}

.all-of-course a{
  text-decoration: none;
  color: #90AB26;
  font: normal bold 45px 'UTM BryantLG_B_B';
  letter-spacing: -0.02em;
  -webkit-text-stroke: 0.5px #B2D235;
}

.all-of-course:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.5s;
}

.why-hapolearn {
  width: 100%;
  height: 740px;
  display: flex;
  background-image: url("../image/BG.png");
}

.why-hapolearn-img {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.why-hapolearn-img img {
  padding-top: 20%;
  margin-right: 12%;
}

.img-lap {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.img-lap .image {
  margin-left: 40px;
  display: flex;
  justify-content: flex-start;
  height: 35%;
  margin-top: -200px;
  height: 500px;
  width: 490px;
}

.why-hapolearn .menu {
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  margin-left: 35%;
}

.menu h1 {
  font: normal bold 50px 'UTM BryantLG_B';
  -webkit-text-stroke: 1px white;
}

.img-lap .menu li {
  list-style-image: url("../image/li.png");
  font: normal normal 20px 'UTM BryantLG';
  letter-spacing: -0.05em;
  -webkit-text-stroke: 0.5px white;
}
.feed-back {
  height: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.feed-back-slogan {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fb-slogan-up h1 {
  font: normal bold 70px UTM BryantLG_B;
  letter-spacing: -0.02em;
  color: #11114E;
  border-bottom: 5px solid #B2D235;
  border-radius: 3px;
  margin-bottom: 0;
  -webkit-text-stroke: 1px #11114E;
}

.fb-slogan-down {
  margin-top: 20px;
  font: normal normal 20px 'UTM BryantLG';
  text-align: center;
  color: #505353;
  -webkit-text-stroke: 0.3px #505353;
}

.fb-content {
  display: flex;
  margin-top: 50px;
}

.fb-content .fb-user {
  margin: 0 5px 0 20%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.fb-content .fb-user1 {
  margin: 0 20% 0 5px;
  width: 50%;
  display: flex;
  flex-direction: column;
}


.fb-user-content {
  background-image: url("../image/Union.png");
  background-repeat: no-repeat;
  background-size: initial;
  padding: 50px 0 0 40px;
  width: 570px;
  height: 163px;
}

.fb-user-content p {
  font: normal normal 17px 'UTM BryantLG';
  letter-spacing: -0.05em;
  text-align: left;
  color: #000000;
  -webkit-text-stroke: 0.2px #000000;
}

.slideshow-left {
  margin:-92px 0 0 -10px;
  border: 1px solid #C4C4C4;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  text-align: center;
}

.slideshow-right {
  margin: -92px 0 0 560px;
  border: 1px solid #C4C4C4;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  text-align: center;
}

.scroll {
  background-color: #D9DADC;
  height: 145px;
  width: 5px;
  margin: -200px 0 0 25px;
}

.fas {
  font-size: 30px;
  color: #969494 ;
}

.infor-user {
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.infor-user img {
  width: 60px;
  height: 60px;
}

.user-comment {
  padding-top: 0;
  margin-left: 20px;
}

.user-comment h3 {
  font: normal bold 20px UTM BryantLG_B;
  color: #11114E;
  margin-bottom: 0;
  -webkit-text-stroke: 0.3px #11114E;
}

.user-comment p {
  margin: 0;
  font: normal bold 16px 'UTM BryantLG_B';
  color: #505353;
}

.checked {
  color: #F2C54F;
}

/*Start learning*/

.start-learning {
  height: 450px;
  width: 100%;
  background-image: url("../image/banner_content.png");
  background-size: cover;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.start-learning .start-learn-slogan {
  font: normal bold 52px 'UTM BryantLG';
  color: #FFFFFF;
  -webkit-text-stroke: 0.5px #FFFFFF;
}

.start-learning .start-learn-slogan h1 {
  text-align: center;
}

.btn-start-learning a {
  background: #FFFFFF;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  width: 377px;
  height: 70px;
  font: normal bold 40px 'UTM BryantLG_B';
  letter-spacing: -0.05em;
  color: #90AB26;
  text-decoration: none;
  -webkit-text-stroke: 0.6px #90AB26;
  padding: 20px 30px 20px 30px;
}

.statistic {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.statistic .statistic-slogan {
  letter-spacing: -0.02em;
  color: #11114E;
  text-align: center;
  display: flex;
  justify-content: center;
  -webkit-text-stroke: 0.5px #11114E;
}

.statistic .statistic-slogan h1 {
  font: normal bold 70px 'UTM BryantLG_B';
  text-align: center;
  width: 300px;
  border-bottom: 4px solid #90AB26;
  border-radius: 3px;
}

.start-menu {
  display: flex;
  justify-content: space-around;
}

.start-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.start-menu .menu .menu-content {
  font: normal bold 50px 'UTM BryantLG_B';
  letter-spacing: -0.05em;
  color: #505353;
}

.number {
  text-align: center;
  font: normal bold 50px 'UTM BryantLG_B';
  letter-spacing: -0.05em;
  color: #B2D235;
  -webkit-text-stroke: 0.4px #B2D235;
}

.hapoLearn-footer1 {
  height: 308px;
  width: 100%;
  color: #f1f1f1;
}

.hapolearn-footer {
  background-color: #505353;
  height: 270px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hapolearn-footer .menu  a:hover {
  -webkit-text-stroke-width: 1px;
  text-decoration: underline;
}
.footer-text {
  margin-left: 132px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-self: start;
}

.footer-text img {
  height: 60px;
  width: 291.6px;
  margin-top: 46px;
}

.footer-text pre {
  margin-top: 0;
  font: 18px 25px 'UTM BryantLG';
  letter-spacing: -0.05em;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex-wrap: wrap;
}

.menu ul {
  margin: 49px 0 0 0;
  list-style: none;
}

.menu li {
  padding-left: 35px;
  padding-bottom: 20px;
}

.menu a {
  font: bold 20px 'UTM BryantLG';
  color: #f1f1f1;
  text-decoration: none;
}


.footer-image a {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
}

.footer-image ul {
  width: 400px;
  display: flex;
  list-style: none;
  justify-content: flex-start;
  margin: 105px 0 0 165px;
}

.footer-image li {
  display: inline-flex;
  align-items: center;
}



.footer-end {
  height: 38px;
  width: 100%;
  position: absolute;
  background-color: #454545;
}

.footer-end pre {
  text-align: center;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.05em;
}
.footer-text p {
  margin-left: 10%;
}

.message {
  width: 360px;
  height: auto;
  position: fixed;
  margin: 0 20px 150px 0;
  bottom: 0;
  right: 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
}

.message-button img{
  position: fixed;
  margin-bottom: 200px;
  margin-top: 1%;
  margin-left: 14%;
}

.message-box .message-button-out {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2px;
}

.message-button-out button {
  font-weight: bold;
}

.message-box .message-button-out p {
  font: normal 400 12px/16px "Open-sans";
  text-align: center;
  letter-spacing: -0.02em;
  color: #7F7F7F;
  padding: 0 70px 0 60px;
}

.message-button-out button {
  border-radius: 25px;
  background: #C4C4C4;
  width: 24px;
  height: 24px;
  font-weight: bold;
  margin-left: 120px;
}

.message .message-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
}

.message-content {
  display: flex;
  justify-content: flex-start;
  margin-left: 13px;
}

.message-content img {
  height: 30px;
  width: 30px;
  padding: 18px 3% 0 0;
}

.message-content .message-content-slogan {
  background: #F1F0F0;
  border-radius: 15px;
  height: 55px;
  width: 265px;
  align-items: center;
}

.message-content .message-content-slogan p {
  font: normal normal 14px/17px 'Open_sans';
  letter-spacing: -0.02em;
  color: #505353;
  padding-left: 4%;
}

#box-chat .message-login {
  margin-top: 15px;
  width: 276px;
  height: 37px;
  background: #3184F7;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 10%;
}

.message-login img {
  height: 17px;
  width: 17px;
  padding-right: 10%;
}

.message-login a {
  font: normal 300 14px/16px 'Open_sans';
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  text-decoration: none;
}

.message-footer p {
  font: normal 600 14px/16px 'Open-sans';
  text-align: center;
  letter-spacing: -0.02em;
  color: #B3B3B3;
}

