.start-learning {
  height: 500px;
  width: 100%;
  background-image: url("../image/banner_content.png");
  background-size: cover;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-learning .start-learn-slogan {
  font: normal bold 40px UTM BryantLG;
  color: #FFFFFF;
}

.start-learning .start-learn-slogan h1 {
text-align: center;
}

.btn-start-learning .btn {
  background: #FFFFFF;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  width: 377px;
  height: 70px;
  font: normal bold 30px UTM BryantLG;
  letter-spacing: -0.05em;
  color: #90AB26;
  text-decoration: none;
}

.statistic {
  height: 590px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.statistic .statistic-slogan {
  letter-spacing: -0.02em;
  color: #11114E;
  text-align: center;
  display: flex;
  justify-content: center;
}

.statistic .statistic-slogan h1 {
  font: normal bold 70px UTM BryantLG;
  text-align: center;
  width: 300px;
  border-bottom: 4px solid #90AB26;
  border-radius: 3px;
}

.start-menu {
  display: flex;
  justify-content: space-around;
}

.start-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.start-menu .menu .menu-content {
  font: normal bold 50px UTM BryantLG;
  letter-spacing: -0.05em;
  color: #505353;
}

.number {
  text-align: center;
  font: normal bold 50px UTM BryantLG;
  letter-spacing: -0.05em;
  color: #B2D235;
}
